<p id="notice"><%= notice %></p>

<h1>楽譜投稿＆検索</h1>

<h5>
  <%= link_to '新規楽譜投稿', new_photo_path %>
<h5>

<table>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.name %></td>
        <td><%= image_tag photo.photo_path_string.url %></td>
        <td><%= link_to '表示', photo %></td>
        <td><%= link_to '編集', edit_photo_path(photo) %></td>
        <td><%= link_to '削除', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%= search_form_for @q do |f| %>
      <%= f.label :楽譜タイトル %>
      <%= f.search_field :name_cont %>
      <%= f.submit %>
    <% end %>
  </tbody>
</table>

<br>
